@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    /* Background Color */
    --bg-danger     : #f63440;
    --bg-white      : #fff;
    --bg-light-white: #f5f5f5;

    /* Text Color */
    --primary-font  : "Poppins", sans-serif;
    --text-white    : #fff;
    --text-black    : #121212;
    --text-danger   : #f63440;
    --text-gray     : #aaa;
    --text-dark-gray: #777;
}

body {

    font-family     : var(--primary-font);
    font-size       : 1rem;
    font-weight     : 400;
    line-height     : 1.75rem;
    background-color: var(--bg-white);
    color           : var(--text-black);
    overflow-x      : hidden;
}

a,
a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

.btn-danger {
    background-color: var(--bg-danger);
    border-color    : var(--bg-danger);
    padding         : 0.8rem 1.5rem;
    font-size       : 1rem;
    font-weight     : 500;
}

.btn-danger:hover {
    color           : var(--text-danger);
    background-color: transparent;
}


/* Navigation CSS */
#logo {
    width: 150px;
}

#header .fixed-top {
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 / 8%);
}


#header .navbar-nav .nav-item .nav-link {
    color     : var(--text-black);
    padding   : 0.5rem 1rem;
    text-align: center;
}

#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active {
    color: var(--text-danger);
}

#header .navbar-toggler-icon {
    width : unset;
    height: unset;
}


#header .navbar-toggler:focus {
    box-shadow: none;
}

/* Home CSS */
.home .home-banner-1,
.home .home-banner-2 {
    background-color   : no-repeat;
    background-size    : cover;
    background-position: 90% center;
    min-height         : 650px;
    position           : relative;
}

.home .home-banner-1 {
    background-image: url('../img/s2.jpg');
}

.home .home-banner-2 {
    background-image: url('../img/s1.jpg');
}

.home .home-banner .home-banner-text {
    color           : var(--text-danger);
    padding         : 1.5rem 6rem 3rem 3rem;
    border-radius   : 15px;
    background-color: rgba(255, 255, 255, 0.6);
    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-110%, -50%);
}

.home .home-banner .home-banner-text h1 {
    font-size: 6rem;
}

.home .carousel-indicators [data-bs-target] {
    background-color: var(--bg-danger);
    width           : 2.5rem;
    height          : .313rem;
}

.home .carousel-control-next-icon,
.home .carousel-control-prev-icon {
    background: transparent;
}

.home .slider-icon {
    font-size  : 3rem;
    font-weight: 600;
    color      : var(--text-danger);
}


/* Offer CSS */
.offers {
    padding-top: 8.75rem;
}

.offers .offer-box .offer-image::before {
    content   : '';
    position  : absolute;
    top       : 0;
    left      : -100%;
    z-index   : 2;
    display   : block;
    width     : 50%;
    height    : 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.3) 100%);
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.3) 100%);
    transform : skewX(-25deg);
}

.offers .offer-box .offer-image img {
    transform : scale(1.20);
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.offers .offer-box:hover .offer-image::before {
    animation: effect_shine 1s;
}

@keyframes effect_shine {
    100% {
        left: 150%;
    }
}

.offers .offer-overlay::before {
    content   : "";
    position  : absolute;
    top       : 0;
    left      : 0;
    right     : 0;
    bottom    : 0;
    width     : 100%;
    height    : 100%;
    z-index   : 1;
    background: rgba(0, 0, 0, 0.1)
}

.offers .offer-box .offer-info {
    position       : absolute;
    left           : 0;
    top            : 0;
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    z-index        : 1;
    transition     : all 250ms ease-out;
}

.offers .offer-box .offer-info .heading-bigger {
    font-size     : 4.3rem;
    line-height   : 1;
    text-transform: uppercase;
    font-weight   : 400;
    margin-bottom : 0;
    color         : var(--text-white);
}

.offers .offer-box .offer-info .offer-title-1 {
    color         : var(--text-white);
    font-size     : 1.2rem;
    font-weight   : 300;
    margin-bottom : 0;
    letter-spacing: 2px;

}

.offers .offer-box .offer-info .btn-outline-danger {
    color       : var(--text-white);
    border-color: var(--text-white);
    transition  : all .3s ease-in-out;
}

.offers .offer-box .offer-info .btn-outline-danger:hover {
    border-color    : var(--bg-danger);
    background-color: var(--bg-danger);
}


/* Products CSS */


/* Special CSS */

/* Testimonial CSS */

/* Contact CSS */